.ave_back {
    background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
  }
  
  .info_section {
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
  
  @media (min-width: 768px) {
    .info_section {
      background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }
  
    .ave_back {
      width: 80%;
      background-position: -100% 10% !important;  
    }
  }
  
  @media (max-width: 768px) {
    .movie_card {
      width: 95%;
      margin: 70px auto; 
      min-height: 350px;
      height: auto;
    }
  
    .ave_back {
      width: 100%;
      background-position: 50% 50% !important;  
    }
  
    .info_section {
      background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
      display: inline-grid;
    }
  }
  